@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1f1e1e;
}

input {
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 50vb;
    color: black;
    margin-top: 5px;
}